#Image{
    background-color: brown;
    height: 600px;width: 90%;
    
}
/* #image{
    background-color: black;
    color: white; */

#button{
    border-radius: 30%;
    background-color: white;
    color: black;
}
#buttons{
    border-radius: 30%;
    background-color: orangered;
    color: white;
}
#Item{
    font-size: xx-large;
    
}
#Box{
    display: flex;
    float: right;
}
#image{
  background-color:black; 
  color: white;
  height: 500px;width: 85%;
  
}
#ten{
    display: flex;
    justify-content: space-around;
}
#topnav a{
    text-decoration: none;
    color: white;
    
    

}
#big{
    background-color: aqua;
    height: 380px;
    width: 23%;
    float: right;
}
#left{

float: right;
}
#small{
display: flex;
}
#topnav{
    display: flex;
    justify-content: space-around;
}